@media screen and (max-width: 992px) {
    .skills{
        height: 180px;
        width: 180px;
    }
    .outer{
        height: 140px;
        width: 140px;
    }
    .inner{
        height: 100px;
        width: 100px;
    }
    svg{
        height: 140px;
        width: 140px;   
    }
    .numberPB{
        font-size: 10px;
    }
}

@media screen and (max-width: 767.20px) {
    .skills{
        height: 130px;
        width: 130px;
        padding: 10px;
    }
    .outer{
        height: 110px;
        width: 110px;
    }
    .inner{
        height: 70px;
        width: 70px;
    }
    svg{
        height: 130px;
        width: 130px;
        top: 0;
        left: 0;
    }
    .numberPB{
        font-size: 10px;
    }
}

@media screen and (max-width: 562.40px) {
    .skills{
        height: 100px;
        width: 100px;
        padding: 10px;
    }
    .outer{
        height: 80px;
        width: 80px;
        padding: 9.5px;
    }
    .inner{
        height: 60px;
        width: 60px;
    }
    svg{
        height: 90px;
        width: 90px;
        top: 0;
        left: 0;
    }
    circle{
        stroke-width: 10px;
    }
    .numberPB{
        font-size: 7px;
    }
}

@media screen and (max-width: 438.40px) {
    .skills{
        height: 80px;
        width: 80px;
        padding: 10px;
    }
    .outer{
        height: 60px;
        width: 60px;
        padding: 9.5px;
    }
    .inner{
        height: 40px;
        width: 40px;
    }
    svg{
        height: 80px;
        width: 80px;
        top: 0;
        left: 0;
    }
    circle{
        stroke-width: 10px;
    }
    .numberPB{
        font-size: 6px;
    }
    .yo{
        height: 100px;
        width: 100px;
    }
    #presentacion{
        font-size: 10px;
    }
}