.progressbar-cont{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills{
    margin-left: 10px;
    width: 200px;
    height: 200px;
    padding: 20px;
    position: relative;
}
.outer{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 19.3px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.inner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
.numberPB{
    font-size: 16px;
    color: #d5d5d5;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}

svg{
    position: absolute;
    top: 19.5px;
    left: 19.5px;
}

#circleJS{
    animation: javascript 2s linear forwards;
}

@keyframes javascript {
    100%{
        stroke-dashoffset: 165;
    }
}

#circleJava{
    animation: java 2s linear forwards;
}

@keyframes java {
    100%{
        stroke-dashoffset: 354;
    }
}

#circleCS{
    animation: cs 2s linear forwards;
}

@keyframes cs {
    100%{
        stroke-dashoffset: 141;
    }
}

#circleKotlin{
    animation: kotlin 2s linear forwards;
}

@keyframes kotlin {
    100%{
        stroke-dashoffset: 259;
    }
}
@media screen and (max-width: 992px) {
    .skills{
        height: 180px;
        width: 180px;
    }
    .outer{
        height: 140px;
        width: 140px;
    }
    .inner{
        height: 100px;
        width: 100px;
    }
    svg{
        height: 140px;
        width: 140px;   
    }
    .numberPB{
        font-size: 10px;
    }
}

@media screen and (max-width: 767.20px) {
    .skills{
        height: 130px;
        width: 130px;
        padding: 10px;
    }
    .outer{
        height: 110px;
        width: 110px;
    }
    .inner{
        height: 70px;
        width: 70px;
    }
    svg{
        height: 130px;
        width: 130px;
        top: 0;
        left: 0;
    }
    .numberPB{
        font-size: 10px;
    }
}

@media screen and (max-width: 562.40px) {
    .skills{
        height: 100px;
        width: 100px;
        padding: 10px;
    }
    .outer{
        height: 80px;
        width: 80px;
        padding: 9.5px;
    }
    .inner{
        height: 60px;
        width: 60px;
    }
    svg{
        height: 90px;
        width: 90px;
        top: 0;
        left: 0;
    }
    circle{
        stroke-width: 10px;
    }
    .numberPB{
        font-size: 7px;
    }
}

@media screen and (max-width: 438.40px) {
    .skills{
        height: 80px;
        width: 80px;
        padding: 10px;
    }
    .outer{
        height: 60px;
        width: 60px;
        padding: 9.5px;
    }
    .inner{
        height: 40px;
        width: 40px;
    }
    svg{
        height: 80px;
        width: 80px;
        top: 0;
        left: 0;
    }
    circle{
        stroke-width: 10px;
    }
    .numberPB{
        font-size: 6px;
    }
    .yo{
        height: 100px;
        width: 100px;
    }
    #presentacion{
        font-size: 10px;
    }
}